*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://thumbs.dreamstime.com/b/fashion-golden-yellow-blur-star-christmas-gift-background-patt-fashion-golden-yellow-blur-star-space-galaxy-christmas-gift-wrap-104086501.jpg);
    background-size: cover;
}

nav {
    width: 100%;
    height: 60px;
    background-color: black;
}

nav p {
    font-family: Arial;
    color: white;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: rgb(20, 42, 161);
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    opacity: 90%;
    z-index: 9;
}

.container {
    background-color: orange;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
    color: #038114;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li ul li a:hover {
    background-color: #7082e765;
    border: 10px;
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.hlo {
   background-image: url(https://th.bing.com/th/id/OIP.2O1m2IOWlrBFZvhxy6KPRAHaEK?pid=ImgDet&rs=1);
   background-size: cover;
    color: rgb(77, 216, 12);
    border-radius: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px rgb(245, 134, 6) solid;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.about {
    background-image: url(https://th.bing.com/th/id/OIP.VE2W8SOVxnVaEJ64Gbpb9QHaEK?pid=ImgDet&rs=1);
    color: black;
    border-radius: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px rgb(199, 6, 6) solid;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 2em;
    margin-bottom: 3%;
}

.about p{
    text-align: justify;
    font-size: large;
    color: #0b022c;
    line-height: 2.5em;
    text-decoration: underline overline solid;
}

.footer {
    position: fixed;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    font-size: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
